
body{
  width: 1440px;
  height: 780px;
  
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='80' height='96' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔪</text></svg>") 16 0,auto; /*!emojicursor.app*/
} 
 
 /* web version */ 
.border-button {
  display: block;
  display: flex;
  margin-bottom: 16px;

  
  position: relative;
  border: none;
  padding: 0.40em .6em;

  /* style details */
  font-family: 'Xanh Mono', monospace;
  font-size: 54px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FC3DD2;
  background: #FFFFFF;

}

.border-button::before,
.border-button::after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #FC3DD2;

  margin: 16px;
}

.border-button::before {
  z-index: 1;
}

.border-button::after {
  z-index: 0;
  margin: 3px;
}

.border-button:active {
  color: white;
  z-index: 2;
}

.border-button:active::before{
  background-color: #fc3dd2;
  z-index: -1;
}

.border-button:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍰 </text></svg>") 16 0,auto; /*!emojicursor.app*/
}


 /* marquee */

 .marquee-container {
  height: 40px;	
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  margin-top: 20px;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
}


.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 16s linear infinite;
  animation-direction: normal;

  position: absolute;
  width: 100%;

  font-size: 20px;
  font-style: italic;
  margin: 4px 0;
}

.marquee-text a {
  margin-right: 4px;
  display: inline-block; /* or block */
  color: inherit;
  text-decoration: none;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍰 </text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.marquee-container:hover .marquee-text  {
  color: #fc3dd2; 
  
  
}

.marquee-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  animation: marquee 16s linear infinite;
  animation-direction: reverse;
  animation-fill-mode: forwards; /* Keeps the last frame of the animation */
}

@keyframes marquee {
  0% {
    transform: translateX(calc(-100% + 80vw));
  }
  100% {
    transform: translateX(0+100vw);
  }
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 54px;
  color: #FC3DD2;


  margin-bottom: 32px;
}

ul{
  margin-top: -78px;
  margin-left: 140px;
  margin-bottom: 40px;
}

img{
  margin-top: 40px;
  margin-bottom: 40px;
  height: 600px;
}

section.chooseHere{
  float: right;
  margin-top: 80px;
  margin-right: 200px;

}

section.mainContent {
  margin-bottom: -40px;
  display: flex;
  justify-content: center;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


